@{
    ViewBag.Title = "CustomerListView";
}
<div class="container" ng-app="onboardapp" ng-controller="CustomerCtrl">

    <h2>CustomerList</h2>

    <div>10+20={{10+20}}</div>       
    <p>{{model2 | json}}</p>
    <p>The hexadecimal of 255 is {{hex}}</p>
    <button type="button"  class="btn btn-primary" data-toggle="modal" data-target="#myAddModal">Add</button>
    @*<p>@Html.ActionLink("Create New", "Add")</p>*@


    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>
                Address1
            </th>
            <th>
                Address2
            </th>
            <th>
                City
            </th>
            <th></th>
        </tr>


        <tr ng-repeat="item in model">
            <td>
                {{item.Name}}
            </td>
            <td>
                {{item.Address1}}
            </td>
            <td>
                {{item.Address2}}
            </td>
            <td>
                {{item.City}}
            </td>
            <td>
                <!-- Trigger the modal with a button -->
                <button type="button" ng-click="editCus(item)" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Edit{{item.Id}}</button>
            <td><button type="button" ng-click="deleteCus(item)" class="btn btn-primary" >Delete</button></td>
        </tr>
    </table>


    <div class="container">
        <br />
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">

                    <div class=“modal-header”>
                        <h4 class=“modal-title”>Edit</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" ng-model="cus.name" class="form-control input-lg" placeholder="Customer Name">
                            </div>
                            <div class="form-group">
                                <label>Address1</label>
                                <input type="text" ng-model="cus.add1" class="form-control input-lg" placeholder="Customer Addr1">
                            </div>
                            <div class="form-group">
                                <label>Address2</label>
                                <input type="text" ng-model="cus.add2" class="form-control input-lg" placeholder="Customer Addr2">
                            </div>
                            <div class="form-group">
                                <label>City</label>
                                <input type="text" ng-model="cus.city" class="form-control input-lg" placeholder="Customer City">

                            </div>

                            <p>{{cus}}</p>
                        </form>

                    </div>
                    <div class="modal-footer">
                        <button type="submit" ng-click="editCu(cus)">Save</button>
                        <button class="btn btn-primary pull-left" data-dismiss="modal">Cancel</button>
                    </div>
                    <div>10+20={{10+20}}</div>

                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <br />
        <!-- Modal -->
        <div class="modal fade" id="myAddModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">

                    <div class=“modal-header”>
                        <h4 class=“modal-title”>Add</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" ng-model="cus.name" class="form-control input-lg" placeholder="Customer Name">
                            </div>
                            <div class="form-group">
                                <label>Address1</label>
                                <input type="text" ng-model="cus.add1" class="form-control input-lg" placeholder="Customer Addr1">
                            </div>
                            <div class="form-group">
                                <label>Address2</label>
                                <input type="text" ng-model="cus.add2" class="form-control input-lg" placeholder="Customer Addr2">
                            </div>
                            <div class="form-group">
                                <label>City</label>
                                <input type="text" ng-model="cus.city" class="form-control input-lg" placeholder="Customer City">

                            </div>

                            <p>{{cus}}</p>
                        </form>

                    </div>
                    <div class="modal-footer">
                        <button type="submit" ng-click="addCus(cus)">Save</button>
                        <button class="btn btn-primary pull-left" data-dismiss="modal">Cancel</button>
                    </div>
                    <div>10+20={{10+20}}</div>

                </div>

            </div>
        </div>
    </div>
</div>





