@{
    ViewBag.Title = "CustomerListView";
}
<div class="container" ng-app="onboardapp" ng-controller="CustomerCtrl">

    <h2>CustomerList</h2>

    
    <p>The hexadecimal of 255 is {{hex}}</p>
    <button class="btn btn-primary" ng-click="editCus(-1)">Add</button>
    @*<p>@Html.ActionLink("Create New", "Add")</p>*@


    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>
                Address1
            </th>
            <th>
                Address2
            </th>
            <th>
                City
            </th>
            <th></th>
        </tr>


        <tr ng-repeat="item in model">
            <td>
                {{item.Name}}
            </td>
            <td>
                {{item.Address1}}
            </td>
            <td>
                {{item.Address2}}
            </td>
            <td>
                {{item.City}}
            </td>
            <td>
                <!-- Trigger the modal with a button -->
                <button class="btn btn-primary" ng-click="editCus($index)">Edit</button>
            <td><button class="btn btn-danger" ng-click="Delete($index)">Delete</button></td>           
        </tr>
    </table>
    <div class="container">
        <br />
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">

                    <div class=“modal-header”>
                        <h4 class=“modal-title”>Add/Edit</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="container" ng-show="actionEdit">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" ng-model="cus.name" class="form-control input-lg" placeholder="Customer Name">
                                </div>
                                <div class="form-group">
                                    <label>Address1</label>
                                    <input type="text" ng-model="cus.add1" class="form-control input-lg" placeholder="Customer Addr1">
                                </div>
                                <div class="form-group">
                                    <label>Address2</label>
                                    <input type="text" ng-model="cus.add2" class="form-control input-lg" placeholder="Customer Addr2">
                                </div>
                                <div class="form-group">
                                    <label>City</label>
                                    <input type="text" ng-model="cus.city" class="form-control input-lg" placeholder="Customer City">                                    
                                </div>
                                <p>{{cus}}</p>
                                </div>
                                <div class="container" ng-show="actionDelete">
                                    <div class="row">{{deleteMessage}}</div>
                                </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="save-changes-btn btn btn-primary" ng-click="editCu()" ng-show="actionEdit">Save</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-show="actionEdit">Cancel</button>
                        <button type="button" class="save-changes-btn btn btn-primary" ng-click="deleteCus()" ng-show="actionDelete">Yes</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-show="actionDelete">No</button>
                    </div>
                    </div>

            </div>
        </div>
    </div>   
</div>





